.community-container {
  width: 60%;
  margin: auto;
}

.community-button-area {
  text-align: right;
}

.community-board {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.community-board-head {
  text-align: center;
  border-bottom: 2px solid #adb5bd;
}

.community-board-row {
  height: 40px;
}

.community-board-title {
  padding-left: 20px; 
  font-size: 20px; 
  border-right: 1px solid #D4D4D4;
  cursor: pointer;
}

.community-board-title:hover {
  text-decoration: underline;
}

.community-board-name {
  padding-left: 10px;
  border-right: 1px solid #D4D4D4;
}

.community-board-date {
  padding-left: 10px; 
}

.community-pages {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.community-page-element {
  width: 50px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}