@font-face {
  font-family: 'jua';
  src:url('../fonts/jua.ttf');
}

html, body {
  font-family: 'jua';
  height: 100%;
}

button {
  width: 80px;
  height: 30px;
  background-color: #007bff;
  font-size: 16px;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.root, .app {
  height: 100%;
}

.content-container {
  min-height: calc(100% - 230px);
}

.news-container{
	width:100%;
	max-width:600px;
	margin:0 auto;
}
.news-container a{
	display:block;
	font-size:24px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.news-container ul{
	line-height:40px;
}
