@font-face {
  font-family: 'jua';
  src:url('../fonts/jua.ttf');
}

html, body {
  font-family: 'jua';
  height: 100%;
}

.root, .app {
  height: 100%;
}

.content-container {
  min-height: calc(100% - 230px);
  position: relative;
}
